<div class="ps-board pt-3 px-2">
    <div class="draggable">
        <div class="dragged-list">
            <div class="flex">
                <div class="col-span">
                    <draggable class="dragArea list-group flex" :list="boardDetail?.lists" :group="'col'" :sort="true"
                        @change="onMoveList" :move="checkMove">
                        <div class="col-span ps-board-card shadow-md bg-gray-50 rounded-none p-4 mx-2 border-t-4 border-green-600 overflow-y-auto"
                            v-for="element in boardDetail.lists" :key="element.title">
                            <div class="mb-2 grid grid-cols-2">
                                <div class="col-span">
                                    <h1 class="font-bold cursor-move">
                                        {{element.title}}
                                    </h1>
                                </div>
                                <div class="col-span flex flex-row-reverse items-center cursor-pointer cursor-move">
                                    <Menu as="div" class="ml-3 relative z-10 ">
                                        <div>
                                            <MenuButton>
                                                <DotsVerticalIcon class="h-5 w-5" />
                                            </MenuButton>
                                        </div>
                                        <transition enter-active-class="transition ease-out duration-100"
                                            class="border-t-4 border-black-600"
                                            enter-from-class="transform opacity-0 scale-95"
                                            enter-to-class="transform opacity-100 scale-100"
                                            leave-active-class="transition ease-in duration-75"
                                            leave-from-class="transform opacity-100 scale-100"
                                            leave-to-class="transform opacity-0 scale-95">
                                            <MenuItems
                                                class="origin-top-right absolute right-0 my-2 w-48 shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                                                <MenuItem v-slot="{ active }">
                                                <button class="btn-ps-text-icon p-2 w-full"
                                                    :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">
                                                    <TrashIcon class="h-5 w-5" />
                                                    <span class="mx-2">
                                                        Remove List
                                                    </span>
                                                </button>
                                                </MenuItem>
                                            </MenuItems>
                                        </transition>
                                    </Menu>
                                </div>
                            </div>
                            <div class="ps-board-content">
                                <draggable class="dragArea list-group w-full" :list="element.tickets"
                                    :group="boardDetail.id" :sort="true"
                                    @change="onChangeTicket($event, element.tickets, element.id)" :move="checkMove">
                                    <Ticket v-for="ticket in element.tickets" :key="ticket.title" :ticket="ticket"
                                        @click="onTicketDetail(element.id)" />

                                    <div class="create-ticket">
                                        <button @click="onCreateTicket(element)"
                                            class="btn-ps btn-ps-action w-full text-center">
                                            <PlusIcon class="h-5 w-5 inline" />
                                        </button>
                                    </div>
                                </draggable>
                            </div>
                        </div>
                    </draggable>
                </div>
                <div class="col-span">
                    <div
                        class="col-span ps-new-list shadow-md bg-gray-50 rounded-none p-4 mx-2 border-t-4 overflow-y-auto">
                        <div class="mb-2 grid grid-cols-2">
                            <div class="col-span">
                            </div>
                            <div class="col-span flex flex-row-reverse items-center cursor-pointer">
                                <PlusIcon @click="onCreateList()" class="h-5 w-5 btn-ps-action" />
                            </div>
                            <div class="col-span-2 mt-2">
                                <form>
                                    <input v-model="newListName" class="m-0 w-full p-0" placeholder="Add another list"
                                        type="text">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>