.ps-login {
    height: 100vh;

    .ps-login-icon {
        margin-top: 100px;
    }

    .ps-login-bg {
        background-image: url('../../assets/images/bg.png');
        background-size: cover;
        height: 100%;
    }

    .ps-sponsor {
        margin-top: 150px;
        float: right;
        padding:0 20px;
    }

    .ps-sponsor-logo {
        width: 100px;
    }
}